{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sweaty.Games </title>
    <link rel="stylesheet" href="{% static 'website/css/main.css' %}">
</head>

<body class='content'>
    <H1>Edit Profile</H1>
    <div class="snipe">
        <br/>
        <div class="form-group d-flex justify-content-center">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-secondary">Update Profile</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}

